<h1>New Order</h1>

<%= render 'form', order: @order %>

<%= link_to 'Back', orders_path %>

<div id="map"></div>

<style type="text/css">
  #map { height: 400px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 80%;}
</style>

<script type="text/javascript">
    function initMap() {

        // var test = {lat: 35.681167, lng: 139.767052};
        // var map = new google.maps.Map(document.getElementById('map'), {
        //     zoom: 15,
        //     center: test
        // });



        if (!navigator.geolocation) {
                alert('Geolocation not supported');
                return;
        }

        navigator.geolocation.getCurrentPosition(function(position) {
          new google.maps.Map(map, {
            center: {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            },
            zoom: 15
          });
        }, function() {
          alert('Geolocation failed!');
          return;
        });


        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });

        console.log(map.getCenter());
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= Rails.application.credentials.google_map_key %>&callback=initMap">
</script>
